.root {
  background-image: url("../../resource/images/wall1.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
}
