.root
{
  width: 100%;
  padding: 10px 0 10px 9px;
  box-sizing: border-box;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: black;

}


.root:hover .matched
{
  color: #fff;
}
.root:hover
{
  background-color: rgba(95, 144, 221, 0.52);
  color: #fff;
}
.matched
{
  color: #5f90dd;
  font-weight: bold;
}

.active
{
  background-color: rgba(95, 144, 221, 0.52);
  color: #fff;


}
.active .matched
{
  color: #5f90dd;
}
