.form>div>div>div>span {
  border: none;
  font-weight: 700;
  color: #700;
  display: block;
  text-align: left;
  position: absolute;
  top:5px;
  right:10px;
  font-size: responsive 12px 14px;

}

.form>div>div>div>span:before{
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "!";
  margin-right: 5px;
  color: #fff;
  background: #771400;
  width: 15px;
  height: 15px;
  text-align: center;
  border-radius: 25px;
  font-weight: 700;
  margin-bottom: 5px;
}
.sign_up{
  margin-right: 5px;
}
.form input{
  display: block;
  width: 100%;
  padding: 5px 10px 5px 40px;
  font-size: responsive 14px 18px;
  line-height: 1.25;
  color: #464a4c;
  background: linear-gradient(to right, #ffffff08, #ffffff, #ffffff08);
  background-clip: padding-box;
  border: none;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  margin-bottom: 10px;
  border-bottom: 1px solid #f0f2f3;
}
.iconRelative{
  position: relative;

}
.iconRelative:hover >.inputIcon{
  color:#5f90dd;
}
.inputIcon{
  position: absolute;
  left:5px;
  top:7px;
  color:#464a4c;
  cursor: pointer;
  transition: all 0.5s;

}
.inputIcon:hover{
  color:#5f90dd;
}
.form input:focus{
  border-color: rgba(95, 144, 221, 0.55);
}
.loginModal{
  font-size: 16px !important;
}
.loginModal{
  color: #5f90dd;
  font-size: responsive 10px 16px;
  transition:background .5s;
  border:1px solid #5f90dd;
  font-weight:700;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
  margin: 10px 0;
  background: linear-gradient(to right, #ffffff8c, #ffffff, #ffffff8c);
  position: relative;
  top:0;
}
.loginModal:active{
  position: relative;
  top:3px;
}
.async {
  position: relative;
}

.async:after{
  display: inline-block;
  content: "";
  position: absolute;
  top: 7px;
  right: 7px;
  z-index: 200;
  height: 16px;
  width: 16px;
  background-image: url(data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==);
}

.loginModal:hover{
  background:  #5f90dd !important;
  color: #fff!important;
  border:1px solid #5f90dd;

}
