.input {
  height:36px;
  border: 1px solid #000;
  border-radius: 0.25rem;
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  margin: 20px 0;
}

.input:focus {
  color: #464a4c;
  background-color: #fff;
  border-color: inherit;
  outline: none;
}
