.root {
  background-color: #5f90dd;
  font-family: "Lato", sans-serif;
  font-size: responsive 12px 14px;
  color: white;
  text-transform: uppercase;
  border-radius: 4px;
  height: 45px;
  cursor: pointer;
  user-select: none;
  outline: none;
  box-shadow: 1px 6px 8px 0 rgba(185, 185, 200, 0.64);
}

.root:active {
  position: relative;
  top: 3px;
}
