
.CheckboxBtn{
  background-color: rgba(95, 144, 221, 0.64);
  color: #fff;
  outline: none;
  font-size:  responsive 14px 21px;
  transition: 0.25s;
  border:1px solid #fff !important;

}

.CheckboxBtn:active,
.CheckboxBtn:hover,
.CheckboxBtn:focus {
  animation: CheckboxBtn 1s;
  box-shadow: 0 0 0 20px rgba(95, 144, 221, 0);
  background-color: #5f90dd!important;
  color: #fff;
  border:1px solid #fff!important;

}

@keyframes CheckboxBtn {
  0% { box-shadow: 0 0 0 0 #5F90DD; }
}
