.Like{
  font-size: 25px;
  color: #777777;
  position: relative;
  top:0;
  outline: none;

}
.Like:hover{
  color:#5f90dd;
}
.Like:active{
  color:#5f90dd;
  position: relative;
  top:3px;

}
.Dislike{
  color: #777777;
  outline: none;


}
.LikeBlock{
  display: inline-block;
  outline: none;
  cursor: pointer;
  margin-right: 10px;
}
.LikeActive{
  color:#5f90dd !important;
  font-size: 25px;
  position: relative;
  top:0;
  outline: none;
}
