.root
{
  border-radius: 10px;
  height: 10px;
  position: relative;
  background-color: #ebebeb;
  display: flex;
  align-items: center;
  margin-top: 10px;

}
.price{
  color:#777777;
  border-bottom:1px solid #ebebeb;
  margin-bottom: 10px;
}
.max{
  float: right;
  font-size: 14px;
  color:#777777;
}
.min{
  font-size: 14px;
  color:#777777;
}
