.liCom{
  width: auto;
  padding: 5px;
  border-bottom: 2px dotted #ddd;
  border-radius: 0;
  color: #707272;
  margin: 10px 0;
  font-size: responsive 12px 14px;
  display: table;

}
.ulCom{
  min-height: 60px;
  max-height: 310px;
  overflow: auto;
  background:#f4f4f4;
  padding: 10px;
  border-radius:10px;
}
.img{
  margin-right: 10px;
}