.formCheck{
  margin: 0 !important;
}
.checkbox{
text-align: center;
}
.formCheck label{
  margin-bottom: 0!important;
  color: #5f90dd !important;
  font-size: responsive 13px 16px !important;
  text-align: left !important;
}
