.icon{
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
  display: block;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  background-color: #4c66a4;
  transition: background-color .2s;
  margin: 0 auto;
  padding:0;
  position: relative;
  top:0;
}
.icon:active{
  position: relative;
  top:3px;
}
.icon:hover{
  background-color: #5b75b3;
}
.icon::first-letter{
  font-size: 22px;
}
