.Sort{
  font-size: 14px;
  width: 77%;
  max-width: 224px;
  outline: none;
}
.Sorting{
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  margin: 15px 0;
}
.Sorting span{
  text-align: left;
  margin:5px;
}
