.Sort{
  font-size: 14px;
  width: 77%;
  max-width: 224px;
  outline: none;
  height: 35px;
  color:#777777;
  border-top:none;
  border-right:none;
  border-left:none;
  border-radius: 0;
  background: transparent;
  border-color: #5f90dd;

}
.Sorting{
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  margin: 15px 0;
}

