.label{
  margin-bottom: 10px!important;
  color: #777777 !important;
  font-size: responsive 13px 16px !important;
  text-align: left !important;
  border-bottom: 1px solid #ebebeb;
}

.form{
  margin-bottom: 0;
}
